# Layer dimensions
mlp_input: 512
mlp_tag_hidden: 16
mlp_arc_hidden: 512
mlp_lab_hidden: 128
# Lexers
lexers:
  - name: word_embeddings
    type: words
    embedding_size: 128
    word_dropout: 0.6
  - name: char_level_embeddings
    type: chars_rnn
    embedding_size: 64
    lstm_output_size: 128
  # - name: fasttext
  #   type: fasttext
  #   source: {pretrained_fasttext_model.bin}
# Training hyperparameters
encoder_dropout: 0.6
mlp_dropout: 0.5
freeze_fasttext: false
batch_size: 32
epochs: 128
lr:
  base: 0.001